<app-navbar></app-navbar>
<div class="introDiv">
    <img
      class="headerPic"
      src="assets/images/header_pic_new.jpeg"
      alt="header_pic.jpeg"
    />
    <div class="mask1">
      <div class="headerTextDiv">
        <h2 class="headerTextGroup headerLine1">Hello! I'm</h2>
        <h1 class="headerTextGroup headerLine2">Paul Jancura</h1>
        <h5 class="headerTextGroup headerLine3">
          A highly motivated and detail oriented software developer.
        </h5>
      </div>
    </div>
  </div>
