<footer class="footerDiv">
    <div class="contactDiv">
      <h3 class="footerHeading">Contact Me:</h3>
      <!-- <p class="footerEmail">jancura.paul@gmail.com</p> -->
      <div class="profileLinkDiv">
        <a
          class="footerLinkedIn"
          href="https://www.linkedin.com/in/paul-jancura-4a6a12178"
          ><img src="assets/icons/linkedin_logo.svg" alt="linkedin_logo.svg"
        /></a>
        <a href="https://github.com/pjancura"
          ><img src="assets/icons/github_logo.svg" alt="indeed_logo.svg"
        /></a>
      </div>
    </div>
    <p class="copyRight">&copy;2023</p>
  </footer>