<footer class="footerDiv">
    <div id="contactMe" class="contactDiv">
      <h3 class="footerHeading">Contact Me:</h3>
      <div class="profileLinkDiv">
        <a
          class="footerLinkedIn"
          [href]="linkedinHref.href"
          ><img [src]="linkedinLogo.assetURL" [alt]="linkedinLogo.altText"
        /></a>
        <a [href]="githubHref.href"
          ><img [src]="githubLogo.assetURL" [alt]="githubLogo.altText"
        /></a>
      </div>
    </div>
    <p class="copyRight">&copy;2023</p>
  </footer>