/* footer {
  background-color: #33658aff;
  color: #9fdafaff; 
  padding: 0.5rem 11% 75px;
    display: flex;
    justify-content: space-between;
  } */
  hr {
    /* color: #9fdafaff; */
    width: 25vw;
    margin: 0 auto;
    border-top: 0.2vw solid;
}

/*
  .contactDiv {
    line-height: 0.5rem;
    font-size: 1.5vw;
  }
  .profileLinkDiv > a {
    padding-right: 1vw;
  }
  a > img {
    width: 2.5vw;
  }
  
  .copyRight {
    margin-top: auto;
    font-size: 1.25vw;
  } */

