body {
    text-align: center;
    background-color: #22303f;
    font-family: 'Press Start 2P', monospace, sans-serif;
    color: #FEF2BF;
  }
  
  
  
  /*            GAME LAYOUT             */
  
  #level-title {
    margin:  5%;
    font-size: 3rem;
  }

  .start {
    font-family: 'Press Start 2P', monospace, sans-serif;
    font-size: 2rem;
    background-color: #FEF2BF;
    border-radius: 15px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem 0.75rem 0.5rem;
  }
  
  .container {
    width: 50%;
    margin: auto;
  
  }
  
  .button {
    margin: 1.2rem;
    display: inline-block;
    width: 12rem;
    aspect-ratio: 1;
    border: 0.6rem solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 1.1rem white;
    background-color: grey;
  }
  
  /*              FOOTER               */
  footer button {
    font-family: 'Press Start 2P', monospace, sans-serif;
    font-size: 2rem;
    background-color: #FEF2BF;
    border-radius: 15px;
    margin: 2rem auto 0;
    padding: 0.75rem 0.75rem 0.5rem;
  }
  
  button a {
    color: black;
    text-decoration: none;
  }
  

  @media screen and (max-width: 1060px) {
    #level-title {
      font-size: 1.75rem;
    }
    
    .button {
      margin: 0.8rem;
      width: 9rem;
      border: 0.4rem solid black;
    }

    footer button {
      font-size: 1.75rem;
    }
  }


  @media screen and (max-width: 800px) {
    #level-title {
      font-size: 1.6rem;
    }

    .start {
      font-size: 1.6rem;
    }
    
    .button {
      margin: 0.7rem;
      width: 7.3rem;
      border: 0.3rem solid black;
    }

    footer button {
      font-size: 1.6rem;
    }
  }

  @media screen and (max-width: 640px) {    
    .button {
      margin: 0.3rem;
      width: 4.6rem;
    }
  }
  
  