/* You can add global styles to this file, and also import other style files */
/* portfolio-home {
  margin: 0;
  background-color: #ffab4cff;
  font-family: "Verdana", "Tahoma", "sans-serif";
  color: #2f4858ff;
} */
